// Input device configuration
input {
    mod-key "Super"

    keyboard {
        xkb {
            layout "us"
            // variant "intl"
        }
        numlock
    }

    touchpad {
        tap
        // natural-scroll
        accel-speed 0.3
        // accel-profile "flat"
        scroll-method "two-finger"
        // disabled-on-external-mouse
    }

    mouse {

        // natural-scroll
        // accel-speed 0.8
        // accel-profile "flat"
        // scroll-method "no-scroll"
    }

    trackpoint {
        // off
        natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "on-button-down"
        // scroll-button 273
        // scroll-button-lock
        // middle-emulation
    }
}

// forbit mouse left corner zoom out 
gestures {
    hot-corners {
        off
    }
}

// configure outputs by name, see `niri msg outputs`
output "DP-3" { // home monitor
    // off
    mode "2560x1440@60"
    focus-at-startup
    scale 1
    transform "normal" // 90, 180, 270, flipped, flipped-90, flipped-180, flipped-270
    position x=0 y=0
}
output "HDMI-A-1" { // office desktop
    // off
    mode "2560x1440@60"
    focus-at-startup
    scale 1
    transform "normal" // 90, 180, 270, flipped, flipped-90, flipped-180, flipped-270
    position x=0 y=0
}
output "eDP-1" {
    // off
    mode "1920x1200@120"
    focus-at-startup
    scale 1
    transform "normal" // 90, 180, 270, flipped, flipped-90, flipped-180, flipped-270

    // Position of the output in the global coordinate space.
    // This affects directional monitor actions like "focus-monitor-left", and cursor movement.
    // The cursor can only move between directly adjacent outputs.
    // Output scale and rotation has to be taken into account for positioning:
    // outputs are sized in logical, or scaled, pixels.
    // For example, a 3840×2160 output with scale 2.0 will have a logical size of 1920×1080,
    // so to put another output directly adjacent to it on the right, set its x to 1920.
    // If the position is unset or results in an overlap, the output is instead placed
    // automatically.
    position x=0 y=1440
}

// TODO! add more monitors

// Settings that influence how windows are positioned and sized
prefer-no-csd // first, uncomment this to remove the application titles (you need to restart niri to take effect)
layout {
    // Set gaps around windows in logical pixels.
    gaps 16

    // When to center a column when changing focus, options are:
    // - "never", default behavior, focusing an off-screen column will keep at the left
    //   or right edge of the screen.
    // - "always", the focused column will always be centered.
    // - "on-overflow", focusing a column will center it if it doesn't fit
    //   together with the previously focused column.
    center-focused-column "always"

    // You can customize the widths that "switch-preset-column-width" (Mod+R) toggles between.
    preset-column-widths {
        // Proportion sets the width as a fraction of the output width, taking gaps into account.
        // For example, you can perfectly fit four windows sized "proportion 0.25" on an output.
        // The default preset widths are 1/3, 1/2 and 2/3 of the output.
        
        proportion 0.66667
        proportion 0.5
        proportion 1.0
    }

    default-column-width { proportion 0.8; }

    // By default focus ring and border are rendered as a solid background rectangle
    // behind windows. That is, they will show up through semitransparent windows.
    // This is because windows using client-side decorations can have an arbitrary shape.
    //
    // If you don't like that, you should uncomment `prefer-no-csd` below.
    // Niri will draw focus ring and border *around* windows that agree to omit their
    // client-side decorations.
    //
    // Alternatively, you can override it with a window rule called
    // `draw-border-with-background`.

    // You can change how the focus ring looks.
    focus-ring {
        // off
        width 4

        // Colors can be set in a variety of ways:
        // - CSS named colors: "red"
        // - RGB hex: "#rgb", "#rgba", "#rrggbb", "#rrggbbaa"
        // - CSS-like notation: "rgb(255, 127, 0)", rgba(), hsl() and a few others.

        // Color of the ring on the active monitor.
        active-color "#7fc8ff"

        // Color of the ring on inactive monitors.
        //
        // The focus ring only draws around the active window, so the only place
        // where you can see its inactive-color is on other monitors.
        inactive-color "#505050"

        // You can also use gradients. They take precedence over solid colors.
        // Gradients are rendered the same as CSS linear-gradient(angle, from, to).
        // The angle is the same as in linear-gradient, and is optional,
        // defaulting to 180 (top-to-bottom gradient).
        // You can use any CSS linear-gradient tool on the web to set these up.
        // Changing the color space is also supported, check the wiki for more info.
        //
        // active-gradient from="#80c8ff" to="#c7ff7f" angle=45

        // You can also color the gradient relative to the entire view
        // of the workspace, rather than relative to just the window itself.
        // To do that, set relative-to="workspace-view".
        //
        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }

    // You can also add a border. It's similar to the focus ring, but always visible.
    border {
        // The settings are the same as for the focus ring.
        // If you enable the border, you probably want to disable the focus ring.
        off

        width 4
        active-color "#ffc87f"
        inactive-color "#505050"

        // Color of the border around windows that request your attention.
        urgent-color "#9b0000"

        // Gradients can use a few different interpolation color spaces.
        // For example, this is a pastel rainbow gradient via in="oklch longer hue".
        //
        // active-gradient from="#e5989b" to="#ffb4a2" angle=45 relative-to="workspace-view" in="oklch longer hue"

        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }

    // You can enable drop shadows for windows.
    shadow {
        // Uncomment the next line to enable shadows.
        // on

        // By default, the shadow draws only around its window, and not behind it.
        // Uncomment this setting to make the shadow draw behind its window.
        //
        // Note that niri has no way of knowing about the CSD window corner
        // radius. It has to assume that windows have square corners, leading to
        // shadow artifacts inside the CSD rounded corners. This setting fixes
        // those artifacts.
        //
        // However, instead you may want to set prefer-no-csd and/or
        // geometry-corner-radius. Then, niri will know the corner radius and
        // draw the shadow correctly, without having to draw it behind the
        // window. These will also remove client-side shadows if the window
        // draws any.
        //
        // draw-behind-window true

        // You can change how shadows look. The values below are in logical
        // pixels and match the CSS box-shadow properties.

        // Softness controls the shadow blur radius.
        softness 30

        // Spread expands the shadow.
        spread 5

        // Offset moves the shadow relative to the window.
        offset x=0 y=5

        // You can also change the shadow color and opacity.
        color "#0007"
    }

    // Struts shrink the area occupied by windows, similarly to layer-shell panels.
    // You can think of them as a kind of outer gaps. They are set in logical pixels.
    // Left and right struts will cause the next window to the side to always be visible.
    // Top and bottom struts will simply add outer gaps in addition to the area occupied by
    // layer-shell panels and regular gaps.
    struts {
        // left 64
        // right 64
        // top 64
        // bottom 64
    }
}

// 覆盖由niri启动的进程的环境变量
environment {
    XMODIFIERS "@im=fcitx"
    QT_IM_MODULES "wayland;fcitx"
    GTK_IM_MODULE null
    SDL_IM_MODULE null
    GLFW_IM_MODULE null

    QT_QPA_PLATFORM "wayland;xcb"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    QT_QPA_PLATFORMTHEME "qt6ct"
}


// 跳过“重要的热键”弹出窗口。
hotkey-overlay {
    skip-at-startup
}

// startup shell commands (with parameters, pipelines etc)
spawn-sh-at-startup "waybar -c ~/.config/waybar/top_bar_config.jsonc"
spawn-sh-at-startup "waybar -c ~/.config/waybar/bottom_bar_config.jsonc"
spawn-sh-at-startup "mako"
spawn-sh-at-startup "swaybg -i ~/Pictures/wallpapers/'Mai Sakurajima.png' -m fill"

spawn-sh-at-startup "fcitx5 -d"
spawn-sh-at-startup "nm-applet"
spawn-sh-at-startup "dropbox"





// You can change the path where screenshots are sopen-on-outputaved.
// A ~ at the front will be expanded to the home directory.
// The path is formatted with strftime(3) to give you the screenshot date and time.
screenshot-path "~/Pictures/screenshot/$(date '+%Y-%m-%d_%H-%M-%S').png"

// You can also set this to null to disable saving screenshots to disk.
// screenshot-path null

// Animation settings.
// The wiki explains how to configure individual animations:
// https://yalter.github.io/niri/Configuration:-Animations
animations {
    // Uncomment to turn off all animations.
    // off

    // Slow down all animations by this factor. Values below 1 speed them up instead.
    // slowdown 3.0
}


window-rule {
    geometry-corner-radius 8 // rounded corners
    clip-to-geometry true
}


// set permanent named workspaces
// one to ten for my laptop monitor `eDP-1`
workspace "one"
workspace "two"
workspace "three"
workspace "four"
workspace "five"
workspace "six"
workspace "seven"
workspace "eight"
workspace "nine"
workspace "ten"
// eleven to twenty for external monitors `DP-3`, `HDMI-1-A` etc.
workspace "eleven" {
    open-on-output "DP-3"
}
workspace "twelve" {
    open-on-output "DP-3"
}
workspace "thirteen" {
    open-on-output "DP-3"
}
workspace "fourteen" {
    open-on-output "DP-3"
}
workspace "fifteen" {
    open-on-output "DP-3"
}
workspace "sixteen" {
    open-on-output "DP-3"
}
workspace "seventeen" {
    open-on-output "DP-3"
}
workspace "eighteen" {
    open-on-output "DP-3"
}
workspace "nineteen" {
    open-on-output "DP-3"
}
workspace "twenty" {
    open-on-output "DP-3"
}

binds {
    // Mod+Shift+Slash { show-hotkey-overlay; } // shows the menu for important hotkeys
    
    Mod+Return hotkey-overlay-title="Open Terminal: alacritty" { spawn "alacritty"; }
    Mod+D hotkey-overlay-title="Run Application" { spawn "fuzzel" "toggle"; }
    // Super+Alt+L hotkey-overlay-title="Lock the Screen: swaylock" { spawn "swaylock"; }

    // Open/close the Overview: a zoomed-out view of workspaces and windows.
    // You can also move the mouse into the top-left hot corner,
    // or do a four-finger swipe up on a touchpad.
    Mod+O repeat=false { toggle-overview; }

    Mod+F4 repeat=false { close-window; }

    Mod+H     { focus-column-left; }
    Mod+L     { focus-column-right; }
    Mod+Shift+H     { move-column-left; }
    Mod+Shift+L     { move-column-right; }

    Mod+J     { focus-monitor-down; }
    Mod+K     { focus-monitor-up; }

    Mod+Shift+J     { move-column-to-monitor-down; }
    Mod+Shift+K     { move-column-to-monitor-up; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Shift+Home { move-column-to-first; }
    Mod+Shift+End  { move-column-to-last; }


    // Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    // Mod+Shift+Down  { move-column-to-monitor-down; }
    // Mod+Shift+Up    { move-column-to-monitor-up; }
    // Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
    // Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    // Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
    // Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
    // Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }

    // Alternatively, there are commands to move just a single window:
    // Mod+Shift+Ctrl+Left  { move-window-to-monitor-left; }
    // ...

    // And you can also move a whole workspace to another monitor:
    // Mod+Shift+Ctrl+Left  { move-workspace-to-monitor-left; }
    // ...

    // Mod+Page_Down      { focus-workspace-down; }
    // Mod+Page_Up        { focus-workspace-up; }
    // Mod+U              { focus-workspace-down; }
    // Mod+I              { focus-workspace-up; }
    // Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    // Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }
    // Mod+Ctrl+U         { move-column-to-workspace-down; }
    // Mod+Ctrl+I         { move-column-to-workspace-up; }


    // You can refer to workspaces by index. However, keep in mind that
    // niri is a dynamic workspace system, so these commands are kind of
    // "best effort". Trying to refer to a workspace index bigger than
    // the current workspace count will instead refer to the bottommost
    // (empty) workspace.
    //
    // For example, with 2 workspaces + 1 empty, indices 3, 4, 5 and so on
    // will all refer to the 3rd workspace.


    // Mod+1 { spawn-sh "niri msg action focus-workspace 'eleven' || niri msg action focus-workspace 'one'"; }
    Mod+1 { focus-workspace "eleven"; }
    // Mod+1 { focus-workspace "one"; }
    Mod+2 { focus-workspace "twelve"; }
    // Mod+2 { focus-workspace "two"; }
    Mod+3 { focus-workspace "thirteen"; }
    // Mod+3 { focus-workspace "three"; }
    Mod+4 { focus-workspace "fourteen"; }
    // Mod+4 { focus-workspace "four"; }
    Mod+5 { focus-workspace "fifteen"; }
    // Mod+5 { focus-workspace "five"; }
    Mod+6 { focus-workspace "sixteen"; }
    // Mod+6 { focus-workspace "six"; }
    Mod+7 { focus-workspace "seventeen"; }
    // Mod+7 { focus-workspace "seven"; }
    Mod+8 { focus-workspace "eighteen"; }
    // Mod+8 { focus-workspace "eight"; }
    Mod+9 { focus-workspace "nineteen"; }
    // Mod+9 { focus-workspace "nine"; }
    Mod+0 { focus-workspace "twenty"; }
    // Mod+0 { focus-workspace "ten"; }
    Mod+Shift+1 { move-column-to-workspace "one"; }
    Mod+Shift+2 { move-column-to-workspace "two"; }
    Mod+Shift+3 { move-column-to-workspace "three"; }
    Mod+Shift+4 { move-column-to-workspace "four"; }
    Mod+Shift+5 { move-column-to-workspace "five"; }
    Mod+Shift+6 { move-column-to-workspace "six"; }
    Mod+Shift+7 { move-column-to-workspace "seven"; }
    Mod+Shift+8 { move-column-to-workspace "eight"; }
    Mod+Shift+9 { move-column-to-workspace "nine"; }
    Mod+Shift+0 { move-column-to-workspace "ten"; }

    // Switches focus between the current and the previous workspace.
    // Mod+Tab { focus-workspace-previous; }

    // The following binds move the focused window in and out of a column.
    // If the window is alone, they will consume it into the nearby column to the side.
    // If the window is already in a column, they will expel it out.
    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    // Consume one window from the right to the bottom of the focused column.
    Mod+Comma  { consume-window-into-column; }
    // Expel the bottom window from the focused column to the right.
    Mod+Period { expel-window-from-column; }

    Mod+R { switch-preset-column-width; }
    // Cycling through the presets in reverse order is also possible.
    // Mod+R { switch-preset-column-width-back; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+E { maximize-column; } // expand to window full width
    Mod+F { fullscreen-window; } // fullscreen

    // Expand the focused column to space not taken up by other fully visible columns.
    // Makes the column "fill the rest of the space".
    Mod+Ctrl+F { expand-column-to-available-width; }

    // width adjustments
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    // Finer height adjustments when in column with other windows.
    // Mod+Shift+Minus { set-window-height "-10%"; }
    // Mod+Shift+Equal { set-window-height "+10%"; }

    // Move the focused window between the floating and the tiling layout.
    // Mod+V       { toggle-window-floating; }
    // Mod+Shift+V { switch-focus-between-floating-and-tiling; }


    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+Shift+Q { quit; } // start a quit dialog


    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

}


